.clickable-area{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  width: 100%;
  height: 100%;
}

.clickable-area-look {
  width: 200px;
  height: 200px;
  background-color: lightblue; /* For testing */
  background-color: transparent; /* For in-game use */
  cursor: url('../gui/map_look_active.png'), pointer;
}

.clickable-area-look.disabled {
  pointer-events: none;
  background-color: lightgray; /* For testing */
  background-color: transparent; /* For in-game use */
}

.clickable-area-talk {
  width: 200px;
  height: 200px;
  background-color: lightblue; /* For testing */
  background-color: transparent; /* For in-game use */
  cursor: url('../gui/map_talk_active.png'), pointer;
}

.clickable-area-talk.disabled {
  pointer-events: none;
  background-color: lightgray; /* For testing */
  background-color: transparent; /* For in-game use */
}

.clickable-area-get {
  width: 200px;
  height: 200px;
  background-color: lightblue; /* For testing */
  background-color: transparent; /* For in-game use */
  cursor: url('../gui/map_get_active.png'), pointer;
}

.clickable-area-get.disabled {
  pointer-events: none;
  background-color: lightgray; /* For testing */
  background-color: transparent; /* For in-game use */
}
